<h2>New Message</h2>
<div>
  <%= form_with model: @message do |form| %>
    <div>
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, User.all.order(:username), :id, :username %>
    </div>
    <div>
      <%= form.label :mailbox_id %>
      <%= form.collection_select :mailbox_id, Mailbox.all.order(:id), :id, :user_id %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    <div>
    </div>
    <%= form.submit 'Send' %>
    <%= link_to 'Back', messages_path %>
  <%end%>

</div>



