<p id="notice"><%= notice %></p>

<h3 class="card-text">From: <%=@message.mailbox.user.username %></h3>
<h3 class="card-text">To: <%=@message.user.username %></h3>
<p class="card-text"><%=@message.content %></p>


<%= link_to 'Back', '/messages' %>
