<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= form_tag profiles_path, :method => "get" do %>
  <%=label_tag(:search, "Name or username:") %>
  <%=text_field_tag :search, params[:search] %>
  <%=submit_tag("Search", :name => nil) %>
<%end %>

<% @profiles.each do |profile| %>
  <ul>
    <li><%= link_to profile.name, user_path(profile.user) %>  |  </li>
    <%= profile.user.username %><br>
  </ul>
<% end %>

<br>

<%= link_to 'New Profile' %> |
<%= link_to 'Back', root_path %>

