<h2 class="lead">Sign up</h2>
<h5 class="lead">Administrator</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "administrators/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <!-- Trigger the modal with a button -->
  <div class="checkbox">
    <label><input type="checkbox" value=""><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"> Agree to Terms of Use</button></label>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <%= render partial: 'devise/registrations/terms_of_use' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  </body>
  </html>
  <!-- Trigger the modal with a button -->
  <div class="checkbox">
    <label><input type="checkbox" value=""><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"> Agree to Terms of Service</button></label>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <%= render partial: 'devise/registrations/terms_of_service' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  </body>
  </html>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "administrators/shared/links" %>
