<div class="row ml-0">
    <!---- NEW USER-->
  <%= form_with model: @user, local: true do |form| %>
      <div class="field">
        <%= form.label :username %><br />
        <%= form.text_field :username, autocomplete: "username" %>
      </div>
      <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= form.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

    <% if action_name == 'edit' %>
      <%=form.fields_for :user do |user_form| %>
        <div id="organization-user-nested-forms" class="form-group">
          <div class="form-group">
            <%= user_form.label :username %>
            <%= user_form.text_area :username,  class: "form-control"%>
          </div>
        </div>
      <% end %>
      <%= link_to "Change your password", edit_user_registration_path %>
    <% end %>


    <div class="form-group mt-2">
      <%= form.submit 'Add', class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>

  <% end %>
</div>
