<p id="notice"><%= notice %></p>

<h4 class="event">Name: <%= @profile.name %></h4>
<h5 class="profile-item">Bio: <%= @profile.biography %></h5>
<h5 class="profile-item">Role: <%= @user.role %></h5>
<h5 class="profile-item">E-Mail address: <%= @user.email %></h5>

<%= link_to 'Send message'%> |
<%= link_to 'Back to home', root_path %>
