
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-content">
      <div class="card-img">
        <% if event.picture.attached? == true %>
          <%= image_tag(event.picture, width: "400px") %>
        <%end %>
        <% if event.picture.attached? == false %>
          <%= link_to image_tag("no_image.png", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef"), url_for(event) %>
        <%end %>
        <span><h4><%= link_to event.title, event %></h4></span>
        <p><%= event.location %>  | <%=event.user.username %>  %></p>
      </div>
      <div class="card-desc">
        <button type="button" class="btn btn-outline-secondary"><%= link_to "View", event %></button>
        <button type="button" class="btn btn-outline-secondary"><%= link_to "Edit", edit_event_path(event) %></button>
        <button type="button" class="btn btn-outline-secondary"><%= link_to "Destroy", event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div>
  </div>
</div>