<p id="notice"><%= notice %></p>

<h1 class="event">Events</h1>


<% @events.each do |event| %>

  <div class="dropdown">
    <button class="dropbtn"><%= event.title %></button>
    <div class="dropdown-content">
      <a><%= link_to 'Show', event %></a>
      <a><%= link_to 'Edit', edit_event_path(event) %></a>
      <a><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    </div>
  </div>
<% end %>


<br>

<%= link_to 'New Event', new_event_path %>

