<h1 class="display-2">Events</h1>
<p class="lead">Check out the many events to have fun and meet new friends</p>

<%= form_tag events_path, :method => "get" do %>
  <%=label_tag(:search, "Event name, event organization, event's creator username:") %>
  <%=text_field_tag :search, params[:search] %>
  <%=submit_tag("Search", :name => nil) %>
<%end %>

<%if administrator_signed_in? %>
  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'events/event_tile', locals: { event: event } %>
    <%end %>
  </div>
<%end %>
<!--falta hacer que solo se puedan ver los publicos con priv_or_pub -->
<%if user_signed_in?%>

  <div class="row">
    <%=render partial: 'events/event_list', locals: {events: @events} %>
  </div>
<% end %>


    <div class="row ml-0 mt-2 mb-3">
      <%= link_to "Add Event", new_event_path, class: ["btn", "btn-primary"] %>
    </div>


