<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h5 class="display-2"><%= @event.title %></h5>
      <p class="card-text"><%= @event.user.username %></p>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= @event.description %></p>
        <h5 class="card-title">Location</h5>
        <p class="card-text"><%= @event.location %></p>
        <h5 class="card-title">Creation date</h5>
        <p class="card-text"><%= @event.created_at %></p>
      </div>
      <div class="row ml-0 mt-3">
        <% if @event.picture.attached? == true %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag(@event.picture, height: "50%", width: "50%") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;" >
              <div class="modal-content">
                <div class ="modal-header"><button type='button' class='close' style='font-size:10px' data-dismiss='modal'>×</button></div>
                <%= image_tag(@event.picture, class: "card-img-top", width: "100%", background: "#696969", color: "#696969") %>
              </div>
            </div>
          </div>
        <%end %>
        <% if @event.picture.attached? == false %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag("no_image.png", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
              <div class="modal-content">
                <div class ="modal-header"><button type='button' class='close' style='font-size:10px' data-dismiss='modal'>×</button></div>
                <%= image_tag("no_image.png") %>
              </div>
            </div>
          </div>
        <%end %>
      </div>
    </div>

    <div class="card">
      <h2>Date Options</h2>
      <%@event.event_options.each do |date|%>
        <%@vote_number= date.event_votes.count %>
        <p><%=date.day%>  <%=@vote_number%> Votes</p>
      <%end%>
      <p><%=link_to 'Vote for this event', new_event_event_vote_path(@event)%></p>
    </div>
    <div class="card">
      <h2>People invited to this event</h2>
      <%@event.event_guests.each do |guest|%>
        <%@user =guest.user %>
        <p><%=guest.user.username%> <%=link_to 'See profile', user_path(@user)%></p>
      <%end%>
      <%= link_to 'Add participants', new_event_event_guest_path(@event)%>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Comments</h2>

      <% @event.comments.each do |comment| %>
        <%@replies= comment.replies %>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= comment.message %></h6>
            <% if can? :delete, comment %>
              <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <%end %>
            <% if can? :edit, comment %>
              <%=link_to 'Edit', edit_comment_path(comment)  %> |
            <%end %>
            <%if administrator_signed_in? %>
              <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%=link_to 'Edit', edit_comment_path(comment)  %> |
            <%end %>
            <a href="#" class="card-link"> <%=link_to 'Reply', new_comment_reply_path(comment)%></a>
            <% @replies.each do |reply| %>
              <p class="card-text"><%=reply.user.username%>: <%= reply.message%></p>
            <%end %>
          </div>
        </div>
      <%end%>
      <p><%=link_to 'New comment', new_event_comment_path(@event) %></p>
    </div>

    <div class="card">
      <h3>Organization</h3>
      <p><%= link_to @event.organization.name, organization_path(@event.organization) %></p>
    </div>
  </div>

  <%if can? :edit, @event %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <%end %>
  <%if can? :delete, @event %>
    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%end %>
  <%if administrator_signed_in? %>
    <button type="button" class="btn btn-outline-secondary"><%= link_to "Edit", edit_event_path(@event) %></button>
    <button type="button" class="btn btn-outline-secondary"><%= link_to "Destroy", @event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <%end %>



  <%= link_to 'Back', events_path %>
  <%= link_to "Report as abusive content", new_event_report_path(@event) %>

</div>
