<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h5 class="display-2"><%= @event.title %></h5>
      <p class="card-text"><%= @event.user.username %></p>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= @event.description %></p>
        <h5 class="card-title">Location</h5>
        <p class="card-text"><%= @event.location %></p>
      </div>
      <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <h2>Date Options</h2>
      <%@date_options.each do |date|%>
        <%@vote_number= date.event_votes.count %>
        <p><%=date.day%>  <%=@vote_number%> Votes</p>
      <%end%>
      <p><%=link_to 'Vote for this event'%></p>
    </div>
    <div class="card">
      <h2>People invited to this event</h2>
      <%@guests.each do |guest|%>
        <%@user =guest.user %>
        <p><%=guest.user.username%> <%=link_to 'See profile', user_path(@user)%></p>
      <%end%>
      <%link_to 'invite more people to this event'%>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Comments</h2>

      <% @event_comments.each do |comment| %>
        <%@replies= comment.replies %>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= comment.message %></h6>
            <a href="#" class="card-link"> <%=link_to 'Reply'%></a>
            <% @replies.each do |reply| %>
              <p class="card-text"><%=reply.user.username%>: <%= reply.message%></p>
            <%end %>
          </div>
        </div>
      <%end%>
      <p><%=link_to 'Create new comment', new_comment_path(@event) %></p>
    </div>

    <div class="card">
      <h3>Organization</h3>
      <p><%= link_to @organization.name, organization_path(@organization) %></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
