<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h5 class="display-2"><%= @event.title %></h5>
      <p class="card-text"><%= @event.user.username %></p>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= @event.description %></p>
        <h5 class="card-title">Location</h5>
        <p class="card-text"><%= @event.location %></p>
      </div>
      <div class="row ml-0 mt-3">
        <% if @event.picture.attached? == true %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag(@event.picture, height: "50%", width: "50%") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;" >
              <div class="modal-content">
                <%= link_to "X", event_path, class: ["btn", "btn-secondary"] %>
                <%= image_tag(@event.picture, height: "50%", width: "80%") %><%= link_to "Close", event_path, class: ["btn", "btn-primary"] %>
              </div>
            </div>
          </div>
        <%end %>
        <% if @event.picture.attached? == false %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag("no_image.png", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
              <div class="modal-content">
                <%= link_to "X", event_path, class: ["btn", "btn-secondary"] %>
                <%= image_tag("no_image.png") %><%= link_to "Close", event_path, class: ["btn", "btn-primary"] %>
              </div>
            </div>
          </div>
        <%end %>
      </div>
    </div>

    <div class="card">
      <h2>Date Options</h2>
      <%@date_options.each do |date|%>
        <%@vote_number= date.event_votes.count %>
        <p><%=date.day%>  <%=@vote_number%> Votes</p>
      <%end%>
      <p><%=link_to 'Vote for this event'%></p>
    </div>
    <div class="card">
      <h2>People invited to this event</h2>
      <%@guests.each do |guest|%>
        <%@user =guest.user %>
        <p><%=guest.user.username%> <%=link_to 'See profile', user_path(@user)%></p>
      <%end%>
      <%link_to 'invite more people to this event'%>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Comments</h2>

      <% @event_comments.each do |comment| %>
        <%@replies= comment.replies %>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= comment.message %></h6>
            <a href="#" class="card-link"> <%=link_to 'Reply'%></a>
            <% @replies.each do |reply| %>
              <p class="card-text"><%=reply.user.username%>: <%= reply.message%></p>
            <%end %>
          </div>
        </div>
      <%end%>
      <p><%=link_to 'Create new comment', new_comment_path(@event) %></p>
    </div>

    <div class="card">
      <h3>Organization</h3>
      <p><%= link_to @organization.name, organization_path(@organization) %></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
