<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= @event.title %></h2>
      <h5> Event host: <%= @event.user.username %></h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <h5>Description</h5>
      <p class="comment"><%= @event.description %></p>
      <h5>Location</h5>
      <p class="comment"><%= @event.location %></p>
    </div>
    <div class="card">
      <h2>Date Options</h2>
      <%@date_options.each do |date|%>
        <%@vote_number= date.event_votes.count %>
        <p><%=date.day%>  <%=@vote_number%> Votes</p>
      <%end%>
      <p><%=link_to 'Vote for this event'%></p>
    </div>
    <div class="card">
      <h2>People invited to this event</h2>
      <%@guests.each do |guest|%>
        <%@user =guest.user %>
        <p><%=guest.user.username%> <%=link_to 'See profile', user_path(@user)%></p>
      <%end%>
      <%link_to 'invite more people to this event'%>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Comments</h2>
      <% @event_comments.each do |comment| %>
        <%@replies= comment.replies %>
        <div class="row">
          <div class="column">
            <h5><%= comment.user.username %></h5>
            <p class = "comment"><%= comment.message %>  <%=link_to 'Reply'%></p>
            <% @replies.each do |reply| %>
              <div class="row">
                <div class="column">
                  <p class="reply"><%=reply.user.username%>: <%= reply.message%></p>
                </div>
              </div>
            <%end %>
          </div>
        </div>
      <%end%>
      <p><%=link_to 'Create new comment', new_event_comment_path(@event) %></p>
    </div>

    <div class="card">
      <h3>Organization</h3>
      <p><%= link_to @organization.name, organization_path(@organization) %></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
