<div class="row ml-0 mt-3">
  <h2>Choose new participant</h2>
</div>
<div class="row ml-0">
  <%= form_with model: @event_guest do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <div class="form-group">
      <%@guests = current_user.organization.users %>
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, @guests.all.order(:username).where.not(id: @event.users), :id, :username %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit 'Add', class: ["btn", "btn-primary"] %>
      <%= link_to 'Back', :back, class: ["btn", "btn-secondary"] %>
    </div>
  <%end%>
</div>