<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= @organization.name %></h2>
      <h5><%= @organization.description %></h5>
      <div class="row ml-0 mt-3">
        <% if @organization.picture.attached? == true %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag(@organization.picture, height: "50%", width: "50%") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;" >
              <div class="modal-content">
                <div class ="modal-header"><button type='button' class='close' style='font-size:10px' data-dismiss='modal'>×</button></div>
                <%= image_tag(@organization.picture, height: "50%", width: "80%") %>
              </div>
            </div>
          </div>
        <%end %>
        <% if @organization.picture.attached? == false %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:400px;" ><%= image_tag("no_image.png", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %></button>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
              <div class="modal-content">
                <div class ="modal-header"><button type='button' class='close' style='font-size:10px' data-dismiss='modal'>×</button></div>
                <%= image_tag("no_image.png") %>
              </div>
            </div>
          </div>
        <%end %>
      </div>
    </div>
    <div class="card">
      <h2>Events</h2>
      <% @events.each do |event| %>
        <%if (event.presence_in @organization.events) != nil and event.privorpub = 2 %>
          <%= render partial: 'events/event_tile', locals: { event: event } %>
        <%end %>
      <% end %>
    </div>

    <div class="card">
      <h2>Users in organization</h2>
      <%@participants.each do |participant|%>
        <p><%=participant.user.username%> <%=link_to 'See profile', user_path(participant.user)%></p>
      <%end%>
      <%if administrator_signed_in? %>
        <%= link_to 'Add participants', new_organization_organization_user_path(@organization)%>
      <%end %>
    </div>

    <div class="card">
      <h3>About us</h3>
      <p>Contact us at organization@organization.com</p>
    </div>
  </div>

</div>



<br>

<div class="row ml-0 mt-2 mb-3">
  <%= link_to 'See all organizations', '/organizations', class: ["btn", "btn-primary"] %>
</div>

<%if can? :edit, @organization %>
  <div class="row ml-0 mt-2 mb-3">
    <%= link_to 'Edit', edit_organization_path(@organization), class: ["btn", "btn-primary"] %> |
  </div>
<%end %>
<%if can? :delete, @organization %>
  <div class="row ml-0 mt-2 mb-3">
    <%= link_to 'Delete', delete_organization_path(@organization), class: ["btn", "btn-primary"] %> |
  </div>
<%end %>

<%if administrator_signed_in? %>
  <%= link_to 'Edit', edit_organization_path(@organization), class: ["btn", "btn-primary"] %> |
  <%= link_to 'Delete', delete_organization_path(@organization), class: ["btn", "btn-primary"] %> |
<%end %>


<%= link_to 'Back', '/organizations' %>
