<p id="notice"><%= notice %></p>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= @organization.name %></h2>
      <h5><%= @organization.description %></h5>
      <div class="fakeimg" style="height:200px;">Image</div>
    </div>
    <div class="card">
      <h2>Events</h2>
      <% @events.each do |event| %>
        <div class="dropdown">
          <button class="dropbtn"><%= event.title %></button>
          <div class="dropdown-content">
            <a><%= link_to 'Open Event', event %></a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card">
      <h2>Users in organization</h2>
      <%@participants.each do |participant|%>
        <%@user = participant.user %>
        <p><%=participant.user.username%> <%=link_to 'See profile', user_path(@user)%></p>
      <%end%>
    </div>

    <div class="card">
      <h3>About us</h3>
      <p>Contact us at organization@organization.com</p>
    </div>
  </div>
  <div class="rightcolumn">

    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>

  </div>
</div>



<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'See all organizations', '/organizations' %>
<%= link_to 'Back', '/organizations' %>
