<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">User</th>
    <th scope="col">Event</th>
    <th scope="col">Reason</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @reports.each do |report| %>
    <tr>
      <td><%=report.created_at %></td>
      <td><%=report.user.username %></td>
      <td><%=report.event.title %></td>
      <td><%=report.excuse %></td>
      <td><%= link_to 'Resolved', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <%end %>
  </tbody>
</table>

<br>


