<!DOCTYPE html>
<html>
  <head>
    <title>MEET ME!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <b class="header"><a><%= link_to "Meet Me!", root_path %></a></b>

    <nav>
      <ul class = "navigation">
        <li class="nav-item"><a><%= link_to 'Events', '/events' %></a></li>
        <li class="nav-item"><a><%= link_to 'Mailbox', '/messages' %></a></li>
        <li class="nav-item"><a><%= link_to 'Profile', '/profiles/1' %></a></li>
        <li class="nav-item"><a class ="logout"><%= link_to 'Log Out', root_path %></a></li>
      </ul>
    </nav>

    <%= yield %>



    <footer>
      <h4>Contact Information</h4>
      <p> Contact us as meetme.app@event.com </p>
    </footer>
  </body>
</html>
