<!DOCTYPE html>
<html>
  <head>
    <title>Eventsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <b style="font-size: 40px"><%= link_to "Home Page", root_path %></b>

    <nav>
      <ul>
        <li><%= link_to 'Events', '/events' %></li>
        <li><%= link_to 'Mailbox', mailbox_path(@user) %></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <h4>Contact Information</h4>
      <p> Contact us as event.app@event.com </p>
    </footer>
  </body>
</html>
